* {
    font-family: arial;
    color : #0F102E;
}

body {
    background-color: #B1B7C0;
}

main {
    height: 50vh;
    position: relative;
    top: 40vh;
    text-align: center;
    text-shadow: #88A4D7 2px 2px 3px, #88A4D7 -2px -2px 3px;
}

.titrefps {
    font-size: 3rem;
    font-weight: bold;
}